.font-inter{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    max-width: 1600px;

}
.navbar{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;

}
.navbar img{
    /* width: 100%; */
    margin: 16px 346px 16px 120px;
}
.navbar div{
    width:100%;
    display: flex;
    gap:32px;
    margin: 0;
    line-height:152% ;
    font-size: 16px;
    font-weight: 500px;
    color: #000000;
    align-items: center;
}
.button{
    margin: 24px 120px 24px 0px;
    border: none;
    background-color: #469165;
    border-radius: 4%;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding:12.5px 16px;
    white-space:nowrap;
}
 .img{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 674px;
    display: block;
    position: relative;
} 
.Early-access{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.early-btn{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    background-color: #FFFFFF;
    border: none;
    padding: 8px 12px;
    border-radius:1000px;
    text-align: center;
    width: 229px;
    height: 35px;
    text-transform: capitalize;
}
.early-str h1{
    font-size: 72px;
    font-weight: bold;
    margin-top: 16px;

}
.a{
    color: #30B868;
    text-transform: capitalize;
}
.b{
    color: #FFFFFF;
    text-transform: capitalize;
}

.early-str .p1{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}
.early-str .p2{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.Sb-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}
.er-btn{
    background: none;
    border:1px solid #FFFFFF;
    padding: 16.5px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    /* margin-left: 16px;
    margin-top: 32px; */
    border-radius: 4%;
    width:198px;
    height: 52px;
}
.err-btn{
    border: none;
    background-color: #469165;
    border-radius: 4%;
    color: #FFFFFF;
    padding: 16.5px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 32px;

}


.section-container{
    margin: 0 120px;
    text-align: center;
}
.section-header h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 100px;
    text-transform: capitalize;
}
.section-header p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 44px;
}
.section-card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1360px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 322px;
    /* height: 300px; */
    /* border: 1px solid red; */
    padding: 69.5px 24px;
    box-shadow: 0 0 8px 0 #d8d8d8;
    border-radius: 8%;
}
.icon{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
.check-icon{
    display: flex;
    flex-direction: row;
    gap:6px;
    margin-bottom: 16px;
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.second-brain{
    padding: 120px;
    max-width: 1360px;
    display: flex;
    justify-content:space-between;
    gap:60px;
}
.brain{
    width: 600px;
    height: 600px;
}
.The-solution{
    margin: 101.5px 0px;
    text-align: left;
    max-width: 700px;
}
.The-solution h4{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    color:#469165;
    text-transform:uppercase;
}
.The-solution h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.The-solution .p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.ready-to-think{
    max-width: 1360px;
    height: 392px;
    margin: 0 120px 120px 120px;
    background-color: #F7F6F2;
    text-align: center;
}
.e-a-heading{
    padding: 80px 40px 24px 40px;
    max-width: 1280px;
    height: 113px;
}
.e-a-heading h1{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.e-a-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#627382;
    
}
.get-btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: #469165;
    border-radius: 4%;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding:12.5px 16px;
    white-space:nowrap;
    margin-bottom: 24px;
    height: 52px;
}
.challange{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.access-comment{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#627382;
}
footer{
    background-color: #001931;
    max-width: 1600px;
    height: 348px;
    padding: 120px 120px 30px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:16px;

}
.links a{
    background-color: #FFFFFF;
    border-radius: 50%;
}
.Social-links{
    max-width: 220px;
    height: 64px;
}
.Social-links p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color:#FFFFFF;
    margin-bottom: 16px;

}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:790px
}
.footer img{
    width: 139px;
    height: 60px;
    margin-right: 211px;
    margin-bottom: 84px;
}
 .copyright{
    width: 100%;
    height: 54px;
    border-top: 1px solid #E5E7EB;
    text-align: center;
    
}
.copyright p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 30px;
    color: #FAFAFA;
}