.font-inter{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    max-width: 1600px;

}
.navbar{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;

}
.navbar img{
    /* width: 100%; */
    margin: 16px 346px 16px 120px;
}
.navbar div{
    width:100%;
    display: flex;
    gap:32px;
    margin: 0;
    line-height:152% ;
    font-size: 16px;
    font-weight: 500px;
    color: #000000;
    align-items: center;
}
.button{
    margin: 24px 120px 24px 0px;
    border: none;
    background-color: #469165;
    border-radius: 4%;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding:12.5px 16px;
    white-space:nowrap;
}
 .img{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 674px;
    display: block;
    position: relative;
} 
.Early-access{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.early-btn{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    background-color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius:1000px;
    gap: 6px;
}
.early-str h1{
    font-size: 72px;
    font-weight: bold;
    margin-top: 16px;

}
.a{
    color: #30B868;
}
.b{
    color: #FFFFFF;
}
.c .button{
    gap: none;
    
}
.early-str p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    align-items: center;
    margin-top: 16px;
}
.er-btn{
    background: none;
    border:1px solid #FFFFFF;
    padding: 16.5px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}